@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'open sans';
}


.btn {
    display: inline-block;
    font-size: 1.1rem;
    padding: 11px 24px;
    border-radius: 50px;
    gap: 30px;
}

.preto {
    background-color: #23272A;
    color: aliceblue
}

.branco {
    background-color: #FFFFFF;
    color: #23272A;
}

a {
    text-decoration: none;
}

.showcase {
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(.//images/66413fdaffd7b36fd00f578891f19f7c.png) no-repeat center center/cover;
}

.showcase-contaner {
    text-align: center;
}

.showcase-contaner h1 {
    font-family: 'Luckiest Guy';
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    width: 30vw;
    margin: auto;
}

.showcase-contaner p {
    color: #FFFFFF;
    width: 50vw;
    font-size: 1rem;
    padding: 24px;
}